h1 {
    color: whitesmoke;
}

.logo-div {
    padding:30px
}


.card {
    float: left;
    margin: 10px;

}

.book-cover {
    height: 200px;
    overflow: hidden;
}

nav a { float: left;}
nav a:hover { color: gold !important; }

h3 { width: 30px; float: left; margin: 1px; color: gold}
